
.dashboard-container {
  display: flex;
  height: 100vh;
  
}

.main-content {
  margin-left: 5rem;
  padding: 10px;
  width: 100%;
  flex-grow: 1;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #333;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}