*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
   margin: 20px 20px 10px 1px;
   width: auto;
   height: 100vh;
   margin: auto;
   padding: auto;
}
.head1{
    background-color: rgb(19, 80, 129);
     position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    
    
}
.hero{    
background-image: url(C:\Users\HP\Desktop\skilltech\vite-project\src\assets\img1.jpg);
background-repeat: no-repeat;
background-size: cover;
width: auto;
height: 100vh;
padding: 30px 30px 10px 20px;
padding-top: 70px;
}

.liste{
    background-color: rgba(49, 80, 146, 0.699);
    padding: 10px;
    color: white;
    
    
}
span{
    margin-left: 20px;
    font-size: 20px;
}

.head{
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    
}
.main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
   
    
    
}
h1{
    color: rgb(23, 37, 51);
    

}
.logo{
    color: rgb(234, 237, 240);
    
}
.list{
    list-style: none;
    
}
.link{
    text-decoration: none;
    margin: 10px;
    color: rgb(243, 238, 238); 
    margin-left: 20px;
   
}
.link1{
    text-decoration: none;
    margin: 20px;
    color: rgb(252, 246, 246); 
    margin-left: 20px;
   
}
.login{
  border-radius: 20px;
  background-color: transparent;
  margin-left: 10px;
  border-color: white;
  width: auto;
  height: 4vh;
  
  


  
}
.login1{
  border-radius: 20px;
  background-color: transparent;
  margin-left: 20px;
  border-color: white;
  width: auto;
  height: 8vh;


  
}

.main2{
     display: flex;
    justify-content: end;
    width: 40%;
    margin-left: 10px;
}
.main22{
     display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.get{
    width: 5%;
    
}



.heroh1{
    text-decoration: underline;
  color: rgb(245, 242, 244);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  font-size: 50px;
  
}
.hero1{
    color: aliceblue;
    text-align: center;
}

.p{
    color: rgb(31, 46, 59);
    font-size: 12px
}
h3{
    text-align: center;
    background-color: white;
    /* text-decoration: underline; */
    font-size: 30px;
    padding-top: 20px;
    color: rgb(7, 37, 65);
}

.img{
    display: flex;
    width: auto;
    height: 20vh;
    justify-content: center;
    
}

.div5  a{
    color: rgb(240, 4, 43);
    font-size: 15px;

}
.div5 a:hover{
    color: rgb(43, 202, 56);
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* margin: 20px; */
    background-color: white;
    padding-top: 100px;
    flex-wrap: wrap;


}
.secondbox{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* margin: 20px; */
    padding-top: 50px;
    width: auto;
    background-color: white;
    flex-wrap: wrap;
}
.flexboxdiv1{
    display: block;
    width: auto;
    background-color: beige;
    padding: 20px;
    justify-content: center;
    margin-left: 10px ;

}
.footer{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: rgb(24, 96, 129);
    width: auto;
    padding: 20px;
    flex-wrap: wrap;

}
h2{
    color: white;
    text-decoration: underline 1px;

}

.listfoot{
    list-style: none;
   
}
.linkfoot{
     color: white;
    text-decoration: none;
}
.h2foot{
    color: white;
}
.mainfoot{
    background-color: rgb(243, 114, 68);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menuicon{
    display: block;
    cursor: pointer;

}
.mobile-nav{
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 2px solid;
}
@media(max-width:520px){
   
}